body {
    font-family: Arial, sans-serif;
    background-color: #46443c;
    color: #dcdcdc;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    color: #5e93fd;
    font-size: 2.5em;
    text-align: center;
}

.highlight {
    color: #dd4c3c;
    font-weight: bold;
}

hr {
    border: 1px solid #8e8e8e;
    margin: 20px 0;
}

h2 {
    color: #81bee7;
    margin-top: 30px;
}

ul, ol {
    margin: 10px 0 20px 20px;
}

a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.moods {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.moods div {
    text-align: center;
}

.moods img {
    width: 180px;
    height: 180px;
    border: 2px solid #0080ff;
    border-radius: 10px;
}

